# This file is automatically loaded by docker-compose when running in development

services:
  api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    ports:
      - "8080:8080"
      - "5000:8080"  # Alternative port mapping

